*{
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
.main nav{
    /* padding:20px; */
}

.main{
    height:80vh;
    background-image: url('ASSETS/IMAGE/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;   
    position: relative;
    background-size: max(1200px, 100vw);
}

.box{
    height:80vh;
    width:100%;
    opacity: 0.65;
    background-color: black;
    position:absolute;
    top:0;
    
}

nav{
    width: 60vw;
    margin: auto;
    height:100px;
    display: flex;
    align-items: center;
    justify-content:space-between ;
   
}

nav img{
    color: red;
    height:100px;
    position: relative;
    z-index: 5;
}


nav .btn {
    position:relative;
    z-index:5;
}

.heros{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:calc(100% - 100px);
    gap: 23px;
    position: relative;
   
   
}

.heros> :nth-child(1){
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
font-size: 48px;
font-weight: 900;
text-align: center;
}

.heros> :nth-child(2){
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
font-size: 24px;
font-weight: 400;
text-align: center;
}

.heros> :nth-child(3){
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
font-size: 20px;
font-weight: 400;
text-align: center;
}

.line{
    height: 7px;
    background-color:hsl(0, 1%, 16%);
    position: relative;
    z-index: 20;
  
}

@media (max-width: 962px) {
    .heros> :nth-child(1){
        font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    }

    .heros> :nth-child(2){
        font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    }
    
    .heros> :nth-child(3){
        font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    }
    
    
}


.btn2{
    background-color: red;
    color: white;
    height:32px;
    width: 65px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border-radius: 3px;
    border: none;
    padding:3px 5px;
}

.btn3{
    height:58px;
    width:150px;
    padding: 2px 5px;
    font-size: 20px;
    font-weight: 400;
}
.btn1{
    background-color: rgba(23,23,23,0.7);
    border: 1px solid rgba(251, 249, 249, 0.5);
    width:100px;
    margin:0 10px 0 0;
    border-radius: 4px solid white;
  
}

.main input{
    height:50px;
    width:350px;
    font-size: 15px;    
    padding: 2px 5px;
    font-weight: 400;
    background-color: rgba(23,23,23,0.7);
    color: white;
    border: 1px solid rgba(251, 249, 249, 0.5);
}

.in{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.first{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;   
    max-width:70vw;
    margin:auto;
}
.secimg{
    position: relative;
}
.secimg img{
   width :300px;
  position: relative;
  z-index: 10; 

}

@media screen and (max-width:1300px){
    .first{
        flex-wrap: wrap;
    }
}
.secimg video{
    position: absolute;
    top:55px;
    right:0px;
    width: 240px;   
    

}

.phla> :nth-child(1){
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-size: 48px;
    font-weight: 900;
}

@media screen and (max-width:1300px)


.phla> :nth-child(2){
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-size: 24px;
    font-weight: 400;
}



.third .secimg video{
    position: absolute;
    top:45px;
    right:10px;
    width: 200px;  }


.faq{
    background-color: black;
    color: white;
 padding:34px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-size: 48px;
    font-weight: 900;
  
}
.faq h4{
    text-align: center;
}

.faqbox img{
    filter:invert(1)
}

.faqbox:hover{
  color: white;
  background-color: #414141;
}

.faqbox{
    display: flex;
    background-color: rgb(56, 55, 55);
    padding:24px;   
    max-width:70vw;
    margin:24px auto;
    justify-content: space-between;
    color: white;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;    
    transition: all 1s ease-out;

}
footer{
    max-width: 60vw;
    margin: auto;
    color:white;

}
.footer{
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-items{
    display: flex;
    flex-direction: column;
    color: white;   
    gap:15px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
footer a{
    color: white;
}

footer div{
    padding:15px 0px 0px 0px;
}